
<div class="container">

   <div class="content">
      <div id="registration">
        <form class="form-signin" action="/game" method="post">
        <span class="form-signin-heading">Welcome to Sinatra Racer!</span>
        <input type="text" class="input-block-level" name="newgame[player1]" placeholder="Player 1">
        <input type="text" class="input-block-level" name="newgame[player2]" placeholder="Player 2">
        
        <button class="btn btn-large btn-primary" type="submit">Start Game</button>
      </form>
      </div>
</div>
</div>
